.task__searchbar {
  height: 6vh;
  background-color: teal;
}

.task__item {
  margin: 1% 0;
  padding: 8px;
  cursor: pointer;
  font-size: 1.2rem;
}

.task__item:hover{
    transition: all 1s;
    background-color: lightgray;
}


.selected{
  background-color: gray;
}